<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/app.css" >
    <title>HotnCold - Home</title>
</head>
<body>

    <h1>HotnCold</h1>
    <br><br>
    <table>

        <% if (Item){ %>
        
        <%Item.forEach( function(data){ %>
        <tr>
            <th>Work</th>
        </tr>
        <tr>
            <td>
                <%= data.Item; %>
                <form action="/<%= data.id; %>">
                    <input id="<%= data.id; %>" name="updateItem" class="hidden trig" type="text"/>
                    <button id="<%= data.id; %>" class="hidden trig" type="submit" formmethod="POST" formaction="/update/<%= data.id; %>">update</button>
                    <button id="`.toggle-${id}`" class="toggle" type="button" onclick="showShowables(`<%= data.id; %>`);">edit</button>
                    <button type="submit" formmethod="POST" formaction="/delete/<%= data.id; %>">delete</button>
                </form>
            </td>
        </tr>
        <% })} %>

    </table>

    <form action="/add" method="POST">
        <label>New Work:
            <input type="text" name="item" />
        </label>
        <button type="submit">POST me!</button>

        <button type="submit" formaction="/logout">logout</button>
    </form>

    <script src="/scripts/scripts.js"></script>



</body>
</html>